*{
  text-decoration: none;
}
.cardss{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.card-items{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
ul{
  display: flex;
  list-style-type: none;
  justify-content: center;
}
ul li {
  display: flex;
  padding: 0 .3rem;
  text-decoration: none;
}
li:hover{
  background-color: aqua;
  cursor: pointer;
}
.navbars{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
